html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}


body {
  font-family: 'Montserrat', sans-serif;
  resize: both;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/money-bg.jpg");
}